.editPet{
  display: flex;
  justify-content: center;
  height: 85vh;
  background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.58),
      rgba(255, 255, 255, 0.58)
    ),
    url(https://images.unsplash.com/photo-1508675801627-066ac4346a61?ixid=MnwxMjA3fDB8MHxwaG90[…]GVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1490&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 4px 2px 4px 2px;
  margin: 10px;
}
.pet-edit-image{
  width: 400px;
  height: 39vh;
  margin: 200px 30px 5px 40px;
  box-shadow: 4px 2px 4px 2px;
}
.formEdit{
  display: flex;
  justify-content: center;
  flex-flow: column;
}